.THIS a
{
    color: #da291c;
    font-size: 12px;
    border-bottom: dotted 1px;
}


.THIS .slds-text-heading_medium
 {
    font-size: 14px;color: #434444;font-weight:normal;
}

.THIS .vermelho 
{
    color: #da291c;
}

.THIS .bloco-title
{
    display: block;
    border-bottom: solid 1px #dbdada;
    margin-bottom: 12px;
    font-size: 16px;
    color: #da291c;
}

.THIS .slds-text-heading--label
{
    font-size: .75rem;
    line-height: 1.25;
    color: #706e6b;
    text-transform: uppercase;
    letter-spacing: .0625rem;
}

.THIS .slds-truncate 
{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .slds-hint-parent 
{
    padding-left: 10px !important;
    width: fit-content;
    padding-right: 40px !important;
    text-transform: none;
    letter-spacing: initial;
}

.THIS .lista-dados-residence
{
    border: solid 1px #dbdada;
    border-bottom: solid 1px #dbdada;
}

.THIS thead 
{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.THIS .lista-dados-residence th
{
    border-bottom: solid 1px #dbdada;
    font-weight: normal;
    line-height: 34px;
}

.THIS .slds-text-heading--label
{
    font-size: .75rem;
    line-height: 1.25;
    color: #706e6b;
    text-transform: uppercase;
    letter-spacing: .0625rem;
}

.THIS table.lista-dados-residence th:nth-child(1)
{
    min-width: 150px !important;
    max-width: 150px !important;
    padding: 10px;
}

.THIS table.lista-dados-residence th:nth-child(2)
{
    min-width: 120px !important;
    max-width: 120px !important;
}

.THIS tr.slds-text-heading--label th:last-child
{
    border-right: solid 1px #dbdada;
}

.THIS table th:last-child
{
    width: 100%;
}

.THIS tbody
{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.THIS tr
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.THIS .lista-dados-residence td
{
    color: #434444;
    border-bottom: solid 1px #dbdada;
    font-weight: normal;
    line-height: 34px;
    padding:8px;
}

.THIS table.lista-dados-residence td:nth-child(3) 
{
    min-width: 320px;
    line-height: 16px;
    white-space: normal;
}

.THIS table.lista-dados-residence td:nth-child(4) 
{
    min-width: 320px;
    text-transform: lowercase;
    line-height: 39px;
}

.THIS .via-slds .slds-card__body 
{
    margin-bottom: .75rem;
}

.THIS .lista-dados-residence tbody tr:hover td 
{
    background-color: #f8f8f7 !important;
}

/*RESET PARA TABELA DE CASOS*/
.THIS table.lista-dados-casos-residence th:nth-child(1) {
    min-width: auto!important;
    max-width: 100%!important;
    padding: 0!important;
}

.THIS table.lista-dados-casos-residence th:nth-child(2) {
    min-width: auto!important;
    max-width: 100%!important;
}

.THIS .lista-dados-casos-residence th{
    line-height: normal!important;
    white-space: nowrap;
}

.THIS .lista-dados-casos-residence td {
    line-height: normal!important;
    padding: 0!important;
}

.THIS table.lista-dados-casos-residence td:nth-child(3) {
    min-width: 270px!important;
}

.THIS table.lista-dados-casos-residence td:nth-child(4) {
    min-width: auto!important;
    text-transform: none;
}
/*Estilização nova tabela*/
.THIS table.lista-dados-casos-residence{
    border-bottom: 2px solid #da291c;
}

.THIS table.lista-dados-residence > tbody > tr:last-child table.lista-dados-casos-residence{
    border-bottom: none;
}

.THIS table.lista-dados-residence .container-subtable{
    padding: 0;
}
.THIS table.lista-dados-residence .container-subtable > div{
    display: block;
    overflow: hidden;
    height: auto;
    transition: all linear .3s;
}
.THIS table.lista-dados-residence .container-subtable > div.ocultarTabela{
    height: 0px!important;
    transition: all linear .3s;
}
.THIS table.lista-dados-casos-residence > thead{
    background-color: #ededed;
}
.THIS table.lista-dados-casos-residence> thead > tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
}
.THIS table.lista-dados-casos-residence > thead > tr > th,
.THIS table.lista-dados-casos-residence > thead > tr >th:nth-child(1),
.THIS .lista-dados-casos-residence td{
    padding-left: 40px!important;
}

.THIS .lista-dados-casos-residence td {
    line-height: 30px!important;
}

.THIS table.lista-dados-casos-residence th:last-child{
    width: auto;;
}

.THIS table.lista-dados-residence .callToActionRow > td{
    text-align: right;
}

.THIS table.lista-dados-residence button.createCaseBtn{
    position: relative;
    border: 1px solid #da291c;
    padding: 5px 10px;
    background-color: #da291c;
    color: #fff;
    line-height: normal;
    margin: 10px 15px;
    transition: all linear .3s;
}

.THIS table.lista-dados-residence button.createCaseBtn:hover{
    background-color: #b61f14;
}

.THIS table.lista-dados-residence button.notifyInternalAction:before{
    content: 'Atenção! Este contrato possui caso em aberto, verifique o processo  para o seu canal!';
    display: block;
    background-color: #898989;
    border: 1px solid #898989;
    color: #fff;
    position: absolute;
    top: -11px;
    left: -211px;
    width: 200px;
    padding: 4px;
    font-size: 11px;
    pointer-events: none;
    opacity: 0;
    transition: all linear .3s;
}

.THIS table.lista-dados-residence button.notifyInternalAction:after{
    content: '';
    background-color: #898989;
    width: 10px;
    height: 10px;
    clip-path: polygon(100% 45%, 0 0, 0 100%);
    position: absolute;
    left: -11px;
    opacity: 0;
    pointer-events: none;
    transition: all linear .3s;
}

.THIS table.lista-dados-residence button.notifyInternalAction:hover:before{
    opacity: 1;
}

.THIS table.lista-dados-residence button.notifyInternalAction:hover:after{
    opacity: 1;
}