.THIS {
    
    background-color: #f3f2f2;
  height: 100%;
    
}
.THIS .inicio {
    
    display: flex;
    
    
}
.THIS .slds-truncate{
   
    white-space: normal;
}
.THIS .slds-page-header__detail-row {
    display: flex;
    margin: .75rem -1rem -1rem;
    padding: 1rem;
    border-radius: 0 0 .25rem .25rem;
    background-color: rgb(243, 242, 242);
    position: relative;
    z-index: 2;
}
.THIS .slds-wrap {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 1% !Important;
    margin-left: 2rem !Important;
}
.THIS .grayscale{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 1.58rem !important;

}
.THIS .margin-product{
    margin-right: 1rem;
}
.THIS .margin-name-product-left{
    margin-left: 2%;
    white-space: nowrap;
}
.THIS .negrito{
    font-weight: bold;
}
.THIS .tam-img{
    width: 1.5rem;
}
.THIS .tam-font{
    font-size: x-small;
    padding-bottom: 0.5% !important;
}
.THIS .slds-size_1-of-8{
    width  : 12.5%       !important;
    padding: 0% 3% 0% 0% !important;
}
.THIS .slds-button_neutral .THIS .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218);
    transition: border .15s linear;
    border-color: rgb(221, 219, 218);
    background-color: rgb(255, 255, 255);
    width: 7rem !important;
}