.THIS.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.THIS .modal-content {
    background-color: rgb(250,250,250);
    width: 96%;
    margin: 2%;
    margin-top: 1rem; 
}

.THIS.slds-icon_container,
.THIS .slds-icon_container {
    color:#ffffff;
}

@media only screen and (min-width: 768px) {
    
    .THIS .modal-content {
        width: 50%;
        margin: 25%; 
        margin-top: 20rem; 
    }
}